*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #C39D88;
    font-family: Arial, sans-serif;
}

/*CABEÇA-----------------------------------------------------------------------------------*/
header{ 
    background-color: #c39d88bb;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 8vh;
    top: 0px;
}
header .logo{
    height: 4vh;
    cursor: pointer;
}
header img{
    width: 100%;
    height: 100%;
}
#menu{
    width: 50%;
}
#menu ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem;
}
#menu a{
    color: white;
}
#menu li{
    cursor: pointer;
}
#menu li:hover{
    transform: scale(1.2);
}

/*CONTEUDO-----------------------------------------------------------------------------------*/
main{
    background-color: #f4f5f7;
    width: 100%;
    min-height: 100vh;
    margin-top: 8vh;
    padding: 0 16% 5vh;
    flex: 1 1 0;
}
/*Banner-------------------------------------------------------------------------------------*/
main #banner{
    width: 100%;
    height: 45vh;
}
main #banner img{
    width: 100%;
    height: 100%;
}

body a{
    text-decoration: none;
}

/*FAVORITOS--------------------------------------------------------------------------------*/
#favoritos{
    background-color: rgba(207, 126, 51, 0.466);
    width: 100%;
    min-height: 24vh;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0 0;
    margin-bottom: 5rem;
}
.fav2{
    width: 15%;
    height: 24vh;
}
.favimg{
    width: 100%;
    height: 19vh;
    padding: 0.2rem;
    
}
.fav2 img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border:5px solid white;
    cursor: pointer;
}
.favh1{
    width: 100%;
    max-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.favh1 h1{
    color: white;
    cursor: pointer;
}
.favh1 a{
    font-size: 1.5rem;
}
.fav2 img:hover{
    border:5px solid rgb(207, 126, 51);
}
.favh1 a:hover{
    color: rgb(207, 126, 51);
}
/*seções-----------------------------------------------------------------------------------------*/

.secao{
    width: 100%;
    min-height: 50vh;
    padding-bottom: 4rem;
}
.titulo{
    color: #c39d88;
    text-shadow: 0 0 30px #c39d88bb;
    margin-bottom: 4rem;
    font-size: 2rem;
}
.secaoimg{
    width: 100%;
    height: 37vh;
    margin-bottom: 1.5rem;
}
.secaoimg img{
    width: 100%;
    height: 100%;
}
.pro1{
    width: 100%;
    min-height: 40vh;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 24%);
    justify-content: center;
    gap: 5rem;
}
.pro2{
    width: 100%;
    height: 22rem;
    cursor: pointer;
}
.pro2 a{
    color: black;
    text-decoration: none;
}
.pro2:hover{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}
.pro3{
    width: 100%;
    height: 17rem;
}
.pro3 img{
    width: 100%;
    height: 100%;
}
.pro4{
    background-color: white;
    width: 100%;
    height: 5rem;
    padding: 0.5rem 0;
    white-space: nowrap; /* Impede que o texto seja quebrado em várias linhas */
    overflow: hidden; /* Impede que o texto sai pra fora da div*/
}

/*RODAPÉ-----------------------------------------------------------------------------------*/
footer{
    background-color: #cccbca;
    color: rgb(56, 55, 55);
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
